<div class="container-fluid mb-4" style="font-size:small;">
  <div class="row">
    <%= render 'layouts/lsidebar' %>
    
    <% if @view_num == 1 %>
      <%= render 'tastingnotes', tastingnotes: @tastingnotes%>
    <% elsif @view_num == 2 %>
      <%= render 'sakemap', tastingnote_nums: @tastingnote_nums, tastingnote_region_nums: @tastingnote_region_nums, sakagura_todofuken_nums: @sakagura_todofuken_nums, tastingnote_sakagura_nums: @tastingnote_sakagura_nums %>
    <% else %>
    <% end %>
    
    <%= render 'layouts/rsidebar' %>
  </div>
</div>