<div class="col-md-3 pb-4 bg-light">
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">北海道の酒造組合Link　　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">東北地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">関東地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">北陸地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">甲信地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">東海地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">関西地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">中国地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">四国地方の酒造組合Link　　　</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <a href="#" class="btn btn-info">九州・沖縄地方の酒造組合Link</a>
    </div>
  </row>
</div>