<div class="col-md-3 border pb-4 bg-light">
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">北海道の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">東北地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">関東地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">北陸地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">甲信地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">東海地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">関西地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">中国地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">四国地方の酒造組合サイト</a>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2">
      <a href="#" class="btn btn-info btn-block">九州・沖縄地方の酒造組合サイト</a>
    </div>
  </row>
</div>